* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  line-height: 1.2;
}

body, html {
  height: 100%;
  margin: 0;
  position: relative;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  border: 1px solid #000;
}

#sign-in {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    p {
      font-size: 16px;
    }

    button {
      font-size: 16px;

      &:before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 10px;
        vertical-align: middle;
        background-image: image_url('metamask.svg');
        background-size: cover;
      }
    }
  }
}

form {
  .error-messages {
    ul li {
      margin-top: 5px;
      list-style: none;
      color: #ff3d3c;
    }
  }
}

button, a.button {
  display: inline-block;
  padding: 12px 24px;
  //padding: 16px 47px;
  background-color: black;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  &:hover:not(:disabled) {
    background-color: #356fbf;
  }

  &:disabled {
    background-color: #f2f3f3;
    color: #636363;
    cursor: initial;
  }
}
